*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

:root {
    --primary-color: #fce138;
    --secondary-color: #024e76;
    --tertiary-color: #024e76;
    --primary-color-trtansparent: rgba(252,225,56,0.8);
    --secondary-color-transparent: rgba(2,78,118,0.8);
}

body {
    /* more this crazy alphanumerical value in a minute!*/
    color: var(--tertiary-color);
    font-family:Helvetica, Arial, sans-serif;
}
/* apply styles to header*/
header{
    padding: 20px 35px; 
    background-image: url('../images/hero-bg.jpeg');
    background-position: 80%;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;  
    text-shadow: 0px 0 15px rgba(0,0,0,0.5);
}

header a{
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    display: flex;
    margin: 7px 0;
    flex-wrap: wrap;
    justify-content: space-between;
}
 
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

/*apply styles to footer*/
footer {
    background: var(--secondary-color);
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: var(--primary-color);
    width: 100%;
}

footer h2 {
    font-size: 30px;
    margin: 0;
}
footer div {
    line-height: 1.5;
    text-align: right;
}
footer a {
color: var(--primary-color);
}

section {
    padding: 60px;
   
}
/*footer end*/
/*hero style start*/
.hero {
     background-image: url("../images/hero-bg.jpeg");
     background-position: 80%;
     background-attachment: fixed;
     background-size: cover;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: flex-start;
}
 /* hero style end*/

 .hero-cta {
     width: 35%;
     text-align: right;
     margin: 3.5%;
     color: #fff;
     font-size: 18px;
     line-height: 1.3;
 }

 .hero-cta h2 {
     font-style: italic;
     font-size: 55px;
     color: var(--primary-color);
     line-height: 1.2;
     text-shadow: 0 0 10px rgba(0,0,0,0.5);
 }
 .hero-form {
     border: 3px solid var(--secondary-color);
     background-color: var(--primary-color-trtansparent);
     padding: 20px;
     width: 40%;
     margin: 3.5%;
     color: var(--secondary-color);
     border-radius: 15px;
     box-shadow: 0 0 10px rgba(0,0,0,0.5);
 }

/* Marker: up to this point everything is good */

.hero-form p {
    margin: 5px 0 15px 0;
}
.form-input {
    border: 1px solid #024e76;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #024e76;
    width: 100%;
    margin-bottom: 15px;
}

.hero-form label  {
    margin: 0 5px;
}

.hero-form button {
    color: #fce138;
    background-color: #024e76;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}


    /*Hero styles End*/

   .intro {
       text-align: center;
   }
   .intro h2 {
       font-size: 55px;
       color: #024e76; 
       margin-bottom: 35px;
       padding: 0 100px 20px  100px;
   border-bottom: 3px solid;
       border-color: #fce138;
   }
   .intro h2 {
       /*add this alongside your other declorations*/
       display: inline-block;
   }
   .intro p {
       line-height: 1.7;
       color: #39a6b2;
       width: 80%;
       font-size: 20px;
   }
   .intro p {
        /*add this alongside your other declorations*/
        margin: 0 auto;
}
/*step selectors*/
.steps {
    text-align: center;
    background: #fce138;
}
.steps h2 {
    font-size: 55px;
    color:  #024e76;
    margin-bottom: 35px;
    padding: 0 100px 20 px 100px;
    border-bottom: 3px solid;
    border-color: #39a6b2;
}
.section-title {
    font-size: 55px;
    color: #024e76;
    padding: 0 100px 20px 100px;
    margin-bottom:35px;
    display: inline-block;
    border-bottom: 3px solid;
}

.primary-border {
    border-color: #fce138;
    
}
.secondary-border  {
    border-color: #39a6b2
}


.step-text h4{
    font-size:26px;
    line-height: 1.5;
    color: #024e76;
}
.steps div {
    margin-bottom: 80px;
}

.steps img {
    width: 15%;
    margin: 10px 0;
}
.steps span {
    font-size: 38px;
}
.steps h3 {
    color: #024e76;
    font-size: 46px;
    margin-top:46px;
    flex: 1 30%;
}
.steps p {
    color: #39a6b2;
    font-size: 23px;
}
.step {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    border-bottom: 1px solid #39a6b2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.step-info {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.steps-img {
    flex:1 12%;
margin-right: 20px;
}
.step-img img {
    max-width: 100%;
}
.step-text {
    flex: 12;
}
/*steps end*/
/* meet the trainer*/
.trainer {
    color: #fce138;
}

.trainers {
   width: 100%;
   margin: 0 auto; /*30px auto;
   background: white;*/
  /* color: #fce138;
   text-align: center;*/
   display:flex;
   justify-content: space-around; 
  
}
.trainer {
    background-color:#024e76;
    float: left;
    margin: 20px;
}
.trainer img {
   padding:25px;
   
 
}

.text-left {
   text-align: left;
}
.text-right {
text-align: right;
} 
.trainer .trainer-bio{
   padding: 35px;
  /* float: left;*/
   width: 65%;
    line-height: 1.3;
}
.trainer-bio h3 {
   font-size: 28px;
   
  
} 
.trainer-bio {
line-height:1.3;
padding:25px;
} 
.trainer-bio h4 {
   font-weight: lighter;
   font-size: 22px;
   margin-bottom: 15px;
}
.trainer-bio p {
   font-size: 17px;
 
  
}

.floating-left {
    float: left;
}
.floating-right {
    float:right;
}

/*reach out*/
.section-title {
    font-size: 55px;
    display: inline-block;
    padding: 0 100px 20px 100px;
    border-bottom: 3px solid;
    margin-bottom: 35px;
    color: #fce138;
}
.contact {
   text-align: center;
   background:#024e76;
}
.contact h3{
    color: #fce138;
}
.contact-info iframe {
   width: 400px;
   height: 400px;
}
.contact info div {
   width: 410px;
   display: inline-block;
   vertical-align: top;
   text-align: left;
   margin: 30px 0 0 60px;
   color: white;
}
.contact-info h3 {
    color: #fce138;
    font-size: 32px;
}
.contact-info p .contact address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 20px;    
    font-style: normal;
}

.contact-info a {
   color: #fce138;
}
.color {
    color: white
}
/*reach out styles end*/
a {
    color: #024e76;
    float: right;
}
.flex-row{
    display:flex;

}

